# Entornos virtuales
.venv/
venv/
env/

# Archivos de cache y compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Datos brutos (Kaggle)
data/raw/*
!data/raw/.gitkeep

# Archivos pesados de procesamiento y matrices
data/processed/*.parquet
data/features/*.npz
data/features/*.csv

# Excepciones (Permitir subir los Trackers si existen, ya que pesan poco)
!data/processed/tracker_en.csv
!data/processed/tracker_es.csv

# Archivos de configuracion de entorno y secretos
.env
.env.*

# Configuraciones de IDE y editores
.vscode/
.idea/
*.swp
*.swo

# Carpetas de historico y borradores descartados (NO SUBIR)
notebook/historico_L1/
docs/historico_y_borradores/
docs/entregas/ejemplos/
