# Entornos virtuales
.venv/
venv/
env/

# Archivos de cache y compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Datos brutos y procesados
data/raw/*
!data/raw/.gitkeep
data/processed/*.parquet
data/features/*.npz
data/features/*.csv
data/gold/*.parquet
data/resultados/*.csv

# Excepciones
!data/processed/tracker_en.csv
!data/processed/tracker_es.csv

# Archivos de configuracion de entorno y secretos
.env
.env.*

# Configuraciones de IDE y OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
skills.md

# Testing y Coverage
.pytest_cache/
htmlcov/
.coverage

# Carpetas de modelos binarios
models/
notebook/checkpoints/

# Carpetas de historico
notebook/historico/
docs/historico_y_borradores/
scratch/

# Archivos temporales de despliegue
instrucciones_despliegue_temp.md
specs_frontend_fase7.md
instrucciones_backend_fase7.md
